$keycolor: #00a0e6;
$textcolor_on_keycolor: #eee;
$subcolor: #00a0e6;
$textcolor_on_subcolor: #eee;

:root {
    --theme-keycolor: #00a0e6;
    --theme-textcolor-on-keycolor: #eee;
    --theme-subcolor: #00a0e6;
    --theme-textcolor-on-subcolor: #eee;

	--px2-font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", "Helvetica Neue", "Arial", sans-serif;
	--px2-main-color: #00a0e6;
	--px2-text-color: #333;
	--px2-background-color: #f9f9f9;
	--px2-border-color: #f0f0f0;
}
